body {
	background-image: url('../imgs/corkboard.jpg');
}
.pinboard-photo-actions {
	padding-bottom: 1em;
	margin-top: 0.5em;
}

.comment-body {
	font-size: 1.5em;
}

.comment-panel-large .comment {
	padding: 0px;
}

.comment-panel .comment {
	padding-top: 0px;
}

.pinboard .comment-panel {
	width: 33%;
	padding: 0.5em;
	padding-top: 0;
}

.pinboard-button-row {
	padding-top: 1em;
}

.pinboard-action-button:nth-of-type(1) {
	margin-bottom: 1em;
}

.panel {
	margin-bottom: 6px;
}

blockquote {
	border-left: none;
}

.comment-image img {
	width: 100%;
	height: auto;
}

.comment-image {
	padding-left: none !important;
	padding-right: none !important;
}

input[type=text].comment-entry-name{
	padding-left:15px;
	margin-bottom:10px;
	box-sizing:border-box;
}

.comment
{
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment:before, .comment:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.comment footer {
	color: black;
}

.comment:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.carousel-control.left {
	background-image: none !important;
}


.carousel-control.right {
	background-image: none !important;
}

.carousel-control {
	color: darkblue;
}