[submodule "egenie/sd_store"]
	path = src/egenie/sd_store
	url = git@github.com:cse-bristol/312-egenie-sd-store.git
	branch = master 
[submodule "egenie/basicutils"]
	path = src/egenie/basicutils
	url = https://mjewell@bitbucket.org/mjewell/basicutils.git
	branch = master 
