[submodule "egenie/sd_store"]
	path = src/egenie/sd_store
	url = https://mjewell@bitbucket.org/mjewell/sd_store.git
	branch = master 
[submodule "egenie/basicutils"]
	path = src/egenie/basicutils
	url = https://mjewell@bitbucket.org/mjewell/basicutils.git
	branch = master 
