{% extends "egenie/inner_screen.html" %}

{% load spirit_tags i18n static %}
{% load thumbnail %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'egenie/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pinboard/css/pinboard.css' %}">
{% endblock %}

{% block extra %}
{{ block.super }}
{% endblock %}

{% block title %}Start A Conversation{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
    {% for c in comments %}
    {% if not c.is_removed %}
        <div class="comment-panel-large panel panel-{% if forloop.counter == 1 %}primary {% else %}default{% endif %}">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-sm-6 text-left">
                    {{ c.date }}
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="username"><i class="fa fa-user"></i>&nbsp;{{ c.comment_author.first.author }}</div>
                    </div>
                </div>
            </div>

            <div class="panel-body comment">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="comment-body">
                            <blockquote>
                            <p><a href="{% url 'spirit:topic:detail' pk=c.topic.id %}">{{ c.comment }}</a></p>
                            </blockquote>
                        </div>
                    </div>
                    {% if c.comment_photo.all.count > 0 %}
                    {% with c.comment_photo.all|first as first_photo %}
                    <div class="col-sm-3 comment-image">
                        {% thumbnail first_photo.photo.image "150x150" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% endthumbnail %}
                    </div>
                    {% endwith %}
                    {% endif %}
                </div>
            </div>
            {% if c.user == request.user %}
            <div class="panel-footer">
                <a href="{% url 'pinboard:comment_delete' pk=c.id %}" class="btn btn-default">Delete</a> 
            </div>
            {% endif %}
        </div> 
    {% endif %}
    {% endfor %}
    </div>
</div>
<a name="add_post"></a>
<form action="{% url 'pinboard:comment_publish' topic.id %}" method="post">
{% csrf_token %}
    <div class="row">
    {% with comments|first as first_comment %}
    {% if first_comment.topic.category.slug == 'fm-messages' %}
    {% include "pinboard/_entry.html" with category=first_comment.topic.category.pk %}
    {% elif first_comment.topic.category.slug == 'user-posts' %}
    {% include "pinboard/_entry.html" with category=first_comment.topic.category.pk %}
    {% endif %}
    {% endwith %}
    </div>
</form>
{% endblock %}